@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Salsa";
}

body {
  font-weight: 300;
  background: #0f0f0f;
  color: #f1f1f1;
}

#root {
  @apply h-full;
}

::-webkit-scrollbar {
  width: 0px;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
